.idea/workspace.xml
.vscode/settings.json
.vscode/launch.json
.idea/AoC2021.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
